force-app/main/default/flows/JBSystemFlow_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj8e0df2a05782dde29c075b533a8021d4_FireJBTrigger</name>
        <label>SalesforceObj8e0df2a05782dde29c075b533a8021d4_FireJBTrigger</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;LastModifiedById&quot;,
  &quot;relationshipName&quot;: &quot;LastModifiedBy&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;User&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj8e0df2a05782dde29c075b533a8021d4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510001082</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email__c&quot;,&quot;MC_AssetCustomerKey__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;LastModifiedBy&quot;,&quot;dePrefix&quot;:&quot;Account:LastModifiedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj8e0df2a05782dde29c075b533a8021d4</name>
        <label>JB_Decision_Null_Check_SalesforceObj8e0df2a05782dde29c075b533a8021d4</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.LastModifiedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_Decision</name>
        <label>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_Decision</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj8e0df2a05782dde29c075b533a8021d4</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.LastModifiedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid-Term Solution_2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MC_AssetCustomerKey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MC_AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj8e0df2a05782dde29c075b533a8021d4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj8e0df2a05782dde29c075b533a8021d4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_State_change_Decision</name>
        <label>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_State_change_Decision</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj8e0df2a05782dde29c075b533a8021d4</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.LastModifiedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid-Term Solution_2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MC_AssetCustomerKey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MC_AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8e0df2a05782dde29c075b533a8021d4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj8e0df2a05782dde29c075b533a8021d4</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <label>JBSystemFlow_Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8e0df2a05782dde29c075b533a8021d4</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
